body { 
	background: url(images/midground.png) repeat 20% 5%;
  align-items: baseline;
}

.box-shadow-star{
    background: url(images/starry.png);
    color: white;
    width: 1500px;
    height: 20px; 
    padding: 90px;
    border-radius: 1px;
    box-shadow: 2px 2px 20px 23px blue;
  }
  .box-shadow-sun{
    background: url(images/sun.png);
    width: 1500px;
    height: 20px; 
    color: white;
    padding: 90px;
    border-radius: 1px;
    box-shadow: 2px 2px 20px 23px yellow;
  }
  .box-shadow-trees{
    background: url(images/trees.png);
    width: 1500px;
    height: 20px; 
    color: white;
    padding: 90px;
    border-radius: 1px;
    box-shadow: 2px 2px 20px 23px #7fecad;
  }

  .star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    animation: 3s ease-in-out infinite;
    z-index: 2;
  }
  .star-five:before {
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star-five:after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }